*{
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vh 10vh 4vh 10vh;
    background-color: blue;
}

#title{
    color: white;
    padding: 0vh 0vh 0vh 0vh;
}

#list {
    list-style-type: none;
    display: flex;
}

li {
    margin: 0 1vh 0 1vh;
    padding: 0 2vh 0 2vh;
    background-color: blue;
    border-radius: 4px;
    color: white;
 }
#subtitle {
    color: white ;
    background-color: blue;
    padding: 0vh 0vh 0vh 35vh;
    font-size:xx-small;
}    
}