*{
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    padding: 4vh 10vh 4vh 10vh;
    background-color: blue;
    color: white;
    justify-content: space-between;
}

#subtitle{
    color: white;
    display: flex;
    background-color: blue;
    font-size: small;
    justify-content:left
}

#list {
    list-style-type: none;
    display: flex;
}

li {
    margin: 0 1vh 0 1vh;
    padding: 0 2vh 0 2vh;
    background-color: blue;
    border-radius: 4px;
    color: white;

 }

