*{
    margin: 0;
    padding: 0;
}
#header{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: blue;
}
#titulos{
    max-width: 60%;
    background-color: blue;
    color: white;
    text-align: left;
    padding: 2vh;
}
#titulo2{
    text-align: right;
}


#list {
    padding: 2vh;
    background-color: blue;
    align-content: center;
}
ul{
    background-color: blue;
    display: flex;
}
li {
    margin: 0 2vh;
    background-color: blue;
    color: white;
 }

