*{
    padding: 0 vh;
    margin: 0 vh;
}
#titulin{
        display: flex;
        align-items: center;
        padding: 4vh 10vh 4vh 10vh;
        background-color: rgb(180, 0, 0);
    }
    
    #title{
        color: rgb(180, 0, 0);
        margin: 0 1vh 0 1vh;
        padding: 0 2vh 0 2vh;
        background-color:white;
        border-radius: 4px;
    }
#titulinbis{
        display: flex;
        align-items: center;
        padding: 4vh 10vh 4vh 10vh;
        background-color: rgb(0, 180, 21);
    }
    
    #titlebis{
        color: rgb(0, 180, 21);
        margin: 0 1vh 0 1vh;
        padding: 0 2vh 0 2vh;
        background-color:white;
        border-radius: 4px;
    }
#cabeceraprin{
    background-color:white;
    border-radius: 4px;
    justify-content: center;
    text-decoration-color: rgb(180, 0, 0);
}
#content{
    background-color: rgb(180, 0, 0);
    display: flex;
    justify-content: space-around;

}

.column{

    padding: 4vh;
}

.title{
    text-align: center;
}

.paragraph {
    text-align: center;
}
#contentbis{
    background-color: rgb(0, 180, 21);
    display: flex;
    justify-content: space-around;

}

.column{

    padding: 4vh;
}

.title{
    text-align: center;
}

.paragraph {
    text-align: center;
}